@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 0.7vw;
    box-sizing: border-box;
    
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.menu p {
    font-size: 14px;
}

.menu h2 {
    font-family: open-sans;
    font-size: 18px;
    padding-right: 24.9vw;
}

.menu img {
 margin-right: 6px;
 width: 30px;
 height: 30px;
}
.menu {
    color: white;
}

.logo h2 {

    color: white;
    display: flex;
    align-items: center;
}

#place {
    background-color: #222374;
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    height: 418px;
}

#place h1 {
    font-size: 32px;
    color: white;
}

#place p { 
    flex-wrap: wrap;
    font-size: 14px;
    box-sizing: border-box;
    margin: 10px;
    margin: 0 auto;   
}


.card-container { 
    background-color: gray;
    width: 960px;
    height: 127px;
    border-radius: 8px;
    
}

.container-place {
    margin: 0 auto;
}
