@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-total {
    
    align-items: center;
    
   
    

}

header {
    
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    
    
    
}

.header h2 {
    justify-content: flex-start;
    
 }





.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.menu img {
 margin: 5px;
 width: 30px;
 height: 30px;
 

}
.menu {
    color: white;
    
}

.logo h2 {
    color: white;
    display: flex;
    align-items: center;
    
}

#place {
    background-color: #222374;
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    padding-left: 15%;
    height: 418px;
}

#place h1 {
    font-size: 32px;
    color: white;

}

#place p { 
    flex-wrap: wrap;
}


.card-container { 
    background-color: gray;
    width: 960px;
    height: 127px;
    align-items: center;

}

