@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    
    height: 100px;
    background-color: red;
   display: flex;
   align-items: center;
   justify-content: space-around;
    
}



.menu {
    display: flex;
    align-items: center;
}



.menu img {
 margin: 5px;
 width: 30px;
 height: 30px;
 color: white;

}
.menu p {
    color: white;
}

.logo h2 {
    color: white;
}

#place {

    background-color: #222374;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 418px;
    


}

#place h1 {
    font-size: 32px;
    color: white;
}

#place p { 
    flex-wrap: wrap;
}


.card-container { 
    background-color: gray;

 
}

