@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.container {
    background-color: red;

}



.container img {
 width: 30px;
 height: 30px;
 
}