@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 100px;
    background-color: red;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.container {

    display: flex;
    align-items: center;
 justify-content: space-between;
}

nav {

    
   
}

    

.container img {
 width: 30px;
 height: 30px;
 
}

