@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: space-between;
   
    box-sizing: border-box;
    
}


.menu {
    display: flex;
    align-items: center;
    padding-left: 11vw;
    padding-right: 5.2vw;
    
}
.menu p {
    font-size: 14px;
}

.menu h2 {
    font-family: open-sans;
    font-size: 18px;
    
}

.menu img {
 margin-right: 6px;
 width: 30px;
 height: 30px;
}
.menu {
    color: white;
}

.logo h2 {

    color: white;
    display: flex;
    align-items: center;
}

#place {
    background-color: #222374;
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    height: auto;
    
    
}

#place h1 {
    font-size: 32px;
    color: white;
    padding: 15px 0px 20px 0px;
}

#place p { 
    flex-wrap: wrap;
    font-size: 14px;
    box-sizing: border-box;
    margin: 10px;
    margin: 0 auto;   
}


.card-container { 
    background-color: gray;
    width: 80vw;
    max-height: 42vw;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-bottom: 20px;
   
}

.card-container h3 {
    padding: 15px;
    font-size: 20px;
}

.card-container p {
    padding: 0px 15px;
    flex-wrap: wrap;
    font-size: 14px;
    
}

.container-place {
    margin: 0 auto;
    
}

#modalities {
     background-color: white;
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    height: auto;


}

.container-place h1 {
    padding: 15px 0px 20px 0px;
    font-size: 20px;
    color: #f03c42;
}

.footer-container {
    background-color: black;

}

.footer-container img {
    height: 30px;
    width: 30px;
}

.footer-container p {
    color: white;
}